<!DOCTYPE html>

<html>

   <head>
      <title>Image Resize Service</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Image Resize Microservice</h2>

        <h3>Example Usage:</h3>
        <p> This is only for images hosted on the path <code>https://s3-us-west-2.amazonaws.com/makersdistillery/1000x/</code> </p> 
        <p>
          <a href="api/whoami">[base url]/images/:imageUIDPath</a>
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>The resized image</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://www.freecodecamp.org">Aditya Karnam</a>
        </p>
      </div>
   </body>


</html>
